/* Importando fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

/* Paleta de cores e variáveis */
:root {
  /* Cores principais */
  --primary-color: #a00300; /* Vermelho escuro */
  --secondary-color: #7a0000; /* Vermelho vibrante */
  --accent-color: #46100c; /* Vermelho médio */

  /* Neutros / fundo */
  --bg-color: #f8f9fa;
  --surface-color: #ffffff;
  --text-color: #333333;
  --text-light: #666666;
  --border-color: #e0e0e0;

  /* Links */
  --link-color: var(--primary-color);
  --link-hover: var(--accent-color);

  /* Tipografia */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Cormorant Garamond', serif;
}

/* Reset e corpo */
body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth; /* rolagem suave */
  scroll-padding-top: 50px; /* mesma altura do header */
}

.App {
  overflow-x: hidden;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover);
}

/* Botões */
button, .btn {
  font-family: var(--font-primary);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 18px;
}

.btn-secondary {
  background-color: var(--surface-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 18px;
}


/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--primary-color);
  margin: 0;
}

/* Classes para texto secundário */
.text-light {
  color: var(--text-light);
}
